<footer class="footer bg-dark py-3 mt-auto">
  <div class="container text-center">
    <span class="text-muted">
      <a id="github-link" href="https://github.com/rogue-shark" target="_blank"><i class="fa-brands fa-github"></i>
       rogue-shark
      </a>  | &copy; 2022
    </span>
  </div>
</footer>
