<% layout('layouts/boilerplate')%>

<div class="col-6 offset-3 mb-5">
  <div class="card text-center">
    <div class="card-header alert alert-danger">
      <h4 class="alert-heading"><%=err.message%></h4>
    </div>

    <!-- for development purposes, but we dont want user to see this in production -->
    <!-- <div class="card-body">
      <% if (process.env.NODE_ENV !== "production") {%>
      <p><%= err.stack %></p>
      <% } %>
    </div> -->

    <div class="card-footer btn btn" onclick="history.back()">
      &larr; Go back
    </div>
  </div>
</div>
